<%= simple_form_for([@job, @job.applications.build]) do |f| %>
  <p>
    <%= f.input :name %>
  </p>
  <p>
    <%= f.input :contact, label: "Contact (Email, Phone)" %>
  </p>
  <p>
    <%= f.input :address, label: "City / Town" %>
  </p>
  <p>
    <%= f.input :skills, label: "List Relevant Skills" %>
  </p>
  <p>
    <%= f.input :past_experiences, label: "List Past Experiences" %>
  </p>
  <p>
    <%= f.input :summary, label: "Why Does This Job Interest You?" %>
  </p>
  <p>
    <%= f.submit "Submit", class: "btn btn-success" %>
  </p>
<% end %>