<div class="form-page">
	<% if @job.errors.any? %>
	<div id="error_explanation">
	  <h2>
	    <%= pluralize(@job.errors.count, "error") %> prohibited
	    this job from being saved:
	  </h2>
	  <ul>
	    <% @job.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>
	  
	<%= simple_form_for(@job, html: { class: 'form-horizontal' }) do |f| %>
	<p>
		<%= f.input :title %>
	</p>
	<p>
		<%= f.input :description %>
	</p>
	<p>
		<%= f.input :qualifications, label: "Suggested Qualifications" %>
	</p>
	<p>
		<%= f.input :pay, label: "Pay (R)" %>
	</p>
	<p>
		<%= f.input :contact, label: "Contact (Email, Phone)"%>
	</p>
	<p>
		<%= f.input :date_published %>
	</p>
	<p>
		<%= f.input :accepted, label: "Job Taken" %>
	</p>
	<p>
		<%= f.submit class: "btn btn-success" %>
	</p>
	<% end %>
</div>