<div class="job-listings">
  <div class="fluid container">
    <div class="row">
      <h1>Listing Jobs</h1>
      
      <div class="search-box">
        <%= form_tag jobs_path, method: :get do %>
          <p>
            <%= text_field_tag :query, params[:query], placeholder: "Job Title" %>
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <i class="glyphicon glyphicon-search"></i>
            <% end %>
          </p>
        <% end %>
      </div>

      <div class="job-link">
        <%= link_to new_job_path, class: 'btn btn-success' do %>
          Create New Job Request <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
      </div>
      <br><br>
      <div class="job-listings-box">
        <table class="table job-table">
          <tr>
            <th>Job Title</th>
            <th>Description</th>
            <th>Qualifications</th>
            <th>Pay (R)</th>
            <th>Contact</th>
            <th>Date Published</th>
            <th>Job Open?</th>
            <th colspan="8"></th>
          </tr>
         
          <% @jobs.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.description %></td>
              <td><%= job.qualifications %></td>
              <td><%= job.pay%></td>
              <td><%= job.contact%></td>
              <td><%= job.date_published%></td>
              <% if job.accepted == true %>
                <td><i class="glyphicon glyphicon-remove red"></i></td>
              <% else %>
                <td><i class="glyphicon glyphicon-ok green"></i></td>
              <% end %>
              <td><%= link_to job_path(job), class: 'btn btn-default' do %>
                Show <i class="glyphicon glyphicon-folder-open"></i>
              <% end %>
              </td>
              <% if view_jobs?(job) %>
                <td><%= link_to edit_job_path(job), class: 'btn btn-default' do %>
                Edit <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              </td>
              <td><%= link_to job_path(job), class: 'btn btn-default',
                        method: :delete,
                        data: { confirm: 'Are you sure?' } do %>
                  Destroy <i class="glyphicon glyphicon-trash"></i>
                  <% end %>
              <% end %>
              </td>
              <td colspan="8"></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

