<div class="show-page">
	<div class="fluid container">
		<div class="row">
			<h1>Job Posting</h1>
			<div class="show-box">
				<p><strong>Job Title</strong><br> 
					<%= @job.title %></p>

				<p><strong>Description</strong><br>
					<%= @job.description %></p>

				<p><strong>Suggested Qualifications</strong><br>
					<%= @job.qualifications %></p>

				<p><strong>Pay (R)</strong><br>
					<%= @job.pay %></p>

				<p><strong>Contact (Email,Phone)</strong><br>
					<%= @job.contact %></p>

				<p><strong>Date Published</strong><br>
					<%= @job.date_published %></p>

				<p><strong>Job Open</strong><br>
					<%= yes_no @job.accepted %></p>

				<hr><br>

				<% if view_jobs?(@job) %> 
				 
				  <%= render @job.applications %>

				<% end %>

				<% if !view_jobs?(@job) %>

					<h2>Apply Here</h2>
					<%= render 'applications/form' %>

				<% end %>

				<% if view_jobs?(@job) %>
					<p><%= link_to "Edit", edit_job_path(@job), class: "btn btn-success"  %></p>
				<% end %>

				<p><%= link_to "Back", :back, class: "btn btn-primary"  %></p>

				<p><%= link_to "Job Listings", jobs_path, class: "btn btn-primary"  %></p>
			</div>
		</div>
	</div>
</div>
