<p><strong>Job Title:</strong> 
	<%= @job.title %></p>

<p><strong>Description:</strong>
	<%= @job.description %></p>

<p><strong>Suggested Qualifications:</strong>
	<%= @job.qualifications %></p>

<p><strong>Pay (R):</strong>
	<%= @job.pay %></p>

<p><strong>Contact (Email,Phone):</strong>
	<%= @job.contact %></p>

<p><strong>Date Published:</strong>
	<%= @job.date_published %></p>

<p><strong>Job Completed:</strong>
	<%= yes_no @job.accepted %></p>

<hr><br>

<% if view_jobs?(@job) %> 
 
  <h2><%= "Job Applications" %></h2>
  <%= render @job.applications %>

<% end %>

<h2>Apply Here</h2>

<%= render 'applications/form' %>

<% if view_jobs?(@job) %>
	<p><%= link_to "Edit", edit_job_path(@job) %></p>
<% end %>

<p><%= link_to "Back", :back %></p>
