<body class="grey-bg">

<!--/header-->

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url(images/slider/sunset.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Welcome to WorkWire</h1>
                <h2>Let's Get Down to Business</h2>
                <%= link_to jobs_path, class: "btn btn-slide" do %>
                  Job <i class="glyphicon glyphicon-tasks" style="vertical-align:middle"></i> Listings 
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
      
      <div class="item" style="background-image: url(images/slider/flowers.jpg)">
        <div class="fluid container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Welcome to WorkWire</h1>
                <h2>Let's Get Down to Business</h2>
                <%= link_to jobs_path, class: "btn btn-slide" do %>
                  Job <i class="glyphicon glyphicon-tasks" style="vertical-align:middle"></i> Listings
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.item-->
      
      <div class="item" style="background-image: url(images/slider/beach.jpg)">
        <div class="fluid container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Welcome to WorkWire</h1>
                <h2>Let's Get Down to Business</h2>
                <%= link_to jobs_path, class: "btn btn-slide" do %>
                  Job <i class="glyphicon glyphicon-tasks" style="vertical-align:middle"></i> Listings 
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--/.item--> 

      <div class="item" style="background-image: url(images/slider/desert.jpg)">
        <div class="fluid container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Welcome to WorkWire</h1>
                <h2>Let's Get Down to Business</h2>
                <%= link_to jobs_path, class: "btn btn-slide" do %>
                  Job <i class="glyphicon glyphicon-tasks" style="vertical-align:middle"></i> Listings 
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <!--/.item-->
      
      <div class="item" style="background-image: url(images/slider/sky.jpg)">
        <div class="fluid container">
          <div class="row slide-margin">
            <div class="col-sm-12">
              <div class="carousel-content">
                <h1>Welcome to WorkWire</h1>
                <h2>Let's Get Down to Business</h2>
                <%= link_to jobs_path, class: "btn btn-slide" do %>
                  Job <i class="glyphicon glyphicon-tasks" style="vertical-align:middle"></i> Listings 
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.carousel-inner--> 
  </div>
  <!--/.carousel--> 
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> 
</section>

<!-- Footer -->
<footer id="footer">
<div class="color-border"> </div>
  <div class="fluid container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; 2015 Workwire. Design by Aobo Inc.</div>
      <div class="col-sm-6">
        <div class="follow-us"> <a class="fa fa-facebook social-icon" href="#"></a> <a class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon" href="#"></a> <a class="fa fa-google-plus social-icon" href="#"></a> </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"> Contact: <br> lucaspettinato@u.northwestern.edu (+27 (76)5305-288) <br> elderhan@umich.edu (+27 (71)1509-457)
      </div>
    </div>
  </div>
</footer>
</body>
<!--/#footer--> 



