  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!-- <a class="navbar-brand" href="index.html"><img src="http://i.imgur.com/PjVZK5k.png"></a></a></div> -->
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class=<%= 'active' if current_page?(root_path) %>><%= link_to "Home", root_path %></li>
          <li class=<%= 'active' if current_page?(jobs_about_path) %>><%= link_to "About", jobs_about_path %></li>
          <li class=<%= 'active' if current_page?(jobs_path) %>><%= link_to 'Job Listings', jobs_path %></li>
          <li class=<%= 'active' if current_page?(jobs_your_posts_path) %>><%= link_to "Your Posts", jobs_your_posts_path %></li>
          <li class=<%= 'active' if current_page?(jobs_contact_path) %>><%= link_to "Contact", jobs_contact_path %></li>
          <li class="login_name">
            <% if user_signed_in? %>
              <strong><%= current_user.email %></strong>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 